
<% if @registrations.blank? %>
  <h3> No one registered yet. <%= link_to "Be the first!", new_registration_path %> </h3>
<% else %>
  <h3> The following people have already registered </h3>
    <%= render :partial => "registrations/registration", :collection => @registrations %>
  </table>
<% end %>
